#alertModal.modal.fade(role='dialog', style="display:none")
  .modal-dialog.modal-sm
    .modal-content
      .modal-header
        h4#alertHeader.modal-title
      .modal-body
        p#alertBody(style="margin-left: 2px")
      .modal-footer
        button.btn.btn-default(type='button', data-dismiss='modal') Ok

#confirmModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='mySmallModalLabel', aria-hidden='true')
  .modal-dialog.modal-sm
    .modal-content
      .modal-header
        h4#confirmHeader.modal-title Header Row Included?
      .modal-body
        p#confirmBody(style="margin-left: 2px")
      .modal-footer
        button#confirmBtnYes.btn.btn-default(type='button', data-dismiss='modal') Yes
        button#confirmBtnNo.btn.btn-primary(type='button', data-dismiss='modal') No
