doctype html
html
  include head.pug
  body
    table(width="100%", height="100%")
      tr
        td
          h1
            | Milo‏ >
            span#title ...
        td.farSide
          select#languageMenu
      tr
        td(colspan="2")
          table(width="100%")
            tr#tabRow(height="1em")
              td#tab_blocks.tabon ...
              td.tabmin  
              td#tab_data.taboff Data Explorer
              td.tabmin  
              td#tab_javascript.taboff JavaScript
              td.tabmin  
              td#tab_xml.taboff XML
              td.tabmin
                img#loadingDiv(style="display: none;width:50px;",src="media/loading.gif")
              td.tabmax
                button#trashButton.notext(title="...")
                  img.trash.icon21(src="media/1x1.gif")
                button#linkButton.notext(title="...")
                  img.link.icon21(src="media/1x1.gif")
                button#runButton.notext.primary(title="...")
                  img.run.icon21(src="media/1x1.gif")
      tr
        td#content_area(height="99%", colspan="2")
    #content_blocks.content
    #content_data.content
    #content_javascript.content
      .container(style="max-width:100%;width:100%").scroll
        .row
          .col-12-sm.col-6
            h3 Generated JS
            pre#source_javascript.code.scroll-x
          .col-12-sm.col-6
            .col-12
              #graph_output(style="display: none")
            .col-12
              #misc_output.col-12
          #console_holder.col-12-sm(style="display: none")
            h3 Console Output
            #console_javascript
    textarea#content_xml.content(wrap="off")
    include toolbox.html