head
	meta(charset="utf-8")
	meta(name="google", value="notranslate")
	title Milo IDE
	link(rel="stylesheet" href="/css/jquery.jexcel.css" type="text/css")
	link(rel="stylesheet" href="/css/jquery.jcalendar.css" type="text/css")
	script(src="/ide.js")
	script(src="/js/jquery.jexcel.js")
	script(src="/js/bootstrap-modal.js")
	script(src="/js/bootstrap.min.js")
	script(src="/js/plotly.js")
	script(src="/js/deeplearn.js")
	script(src="/js/sidebar.js")
	link(rel="icon" type="image/png" href="/media/icon.png")
	link(rel="stylesheet" href="/css/bootstrap.min.css")
	link(rel="stylesheet" href="/css/bootstrap-theme.min.css")
	link(rel="stylesheet" href="/css/sidebar.css")
	link(rel="stylesheet", href="/css/style.css")
	link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
