head
    meta(charset="utf-8")
    meta(name="google", value="notranslate")
    title Milo:
    link(rel="stylesheet", href="css/style.css")
    link(rel="stylesheet", href="css/grid.css")
    script(src="scripts/storage.js")
    script(src="scripts/blockly.js")
    script(src="scripts/blocks.js")
    script(src="scripts/javascript.js")
    script(src="scripts/dlearn.js")
    script(src="scripts/custom/functions.js")
    script(src="scripts/code.js")
    script(src="scripts/jquery-2.2.4.js")
    script(src="scripts/custom/blocks.js")
    script(src="scripts/custom/codegen.js")
    //- script(src="https://unpkg.com/deeplearn")
    script(src="scripts/deeplearn.js")
    script(src="scripts/plotly.js")