html
    head
        meta(charset="utf-8")
        meta(name="google", value="notranslate")
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title Milo IDE
        // Google Analytics
        script.
            window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
            ga('create', 'UA-XXXXX-Y', 'auto'); // Replace with actual tracking ID
            ga('send', 'pageview');
        script(async='', src='https://www.google-analytics.com/analytics.js')
        script(src="/js/jquery.js")
        script(src="/js/bootstrap.min.js")
        link(rel="icon" type="image/png" href="/media/icon.png")
        link(rel="stylesheet" href="/css/material.min.css")
        //- link(rel="stylesheet" href="/css/bootstrap-theme.min.css")
        link(rel="stylesheet", href="/css/layout.css")
        link(rel="icon" type="image/png" href="/media/icon.png")
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
        block headers
    body(style="padding-top: 70px;")
        nav.navbar.navbar-fixed-top.navbar-default
            .container-fluid
                .navbar-header
                    button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navigation', aria-expanded='false')
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand(href='/')
                        img(src='/media/icon.png')
                #navigation.collapse.navbar-collapse
                    block navigation
        block content
        footer.footer.navbar-default.navbar-fixed-bottom
            .container
                .row
                    .col-lg-12.text-center
                        a(href="/terms") Terms and Conditions
                        | &nbsp; &nbsp; &nbsp;
                        a(href="/privacy") Privacy Policy
                        p Copyright © Milo IDE 2018
                        block footer
