extends layout.pug
block navigation
	ul.nav.navbar-nav.navbar-right
		li.btn-group
			li.dropdown
				a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
					i.material-icons account_circle
					span.caret
				ul.dropdown-menu
					if user
						li
							span &nbsp; Hi #{user.name}
							br
							span &nbsp; Account Type:  #{user.role}
						li
							a(href='/users/logout') Logout
					else
						li
							a(href='/users/register') Register
block content
	.container
	.row
		.col-sm-6.col-sm-offset-3
			.card.card-container
				img#logo-img.logo-img-card(src='/media/milo-icon.png')
				h3.text-center Welcome to Milo
				.error.text-center.text-danger #{message}
				form.form-horizontal(method='post', action='/users/login')
					.form-group
						span#reauth-email.reauth-email
					.form-group
						input#inputEmail.form-control(type='text',name="username", placeholder='Username', required='', autofocus='')
					.form-group
						input#inputPassword.form-control(type='password',name="password", placeholder='Password', required='')
					button.btn.btn-lg.btn-success.btn-block.btn-signin(type='submit') Sign in
				a(href="/users/auth/google")
					img.img-responsive(src='/media/google-signin.png',width="60%",style="margin:auto", alt='Login with Google')
				br
				//- p.text-center or &nbsp
				//-   a(href="/users/register") Signup with Email
