extends layout.pug
block headers
    link(rel="stylesheet", href="/css/home.css")
block navigation
    ul.nav.navbar-nav
        li
            a(href="/")
                span Milo
        li
            a(href='/about') About
    ul.nav.navbar-nav.navbar-right
        if user
            li
                a(href='/users/projects' style="cursor:pointer; color: #3F51B5;")
                    i.material-icons dashboard
                    | &nbsp; My Projects
        li
            a(href='/editor/?new') Create
        if !user
            li
                a(href='/users/register')
                    | &nbsp; Sign Up
            li
                a(href='/users/login')
                    i.material-icons account_box
                    | &nbsp; Login
        else
            li.btn-group
                li.dropdown
                    a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                        i.material-icons account_circle
                        span.caret
                    ul.dropdown-menu
                        li
                            h4 &nbsp; Hi #{user.name}
                        if (user.role == 'faculty')
                            li
                                a(href='')
                                    i.material-icons verified_user
                                    | &nbsp; Faculty Account
                        li
                            a(href='/users/logout')
                                i.material-icons input
                                | &nbsp; Logout
block content
    .container
      .row
        .col-md-8
            div(title='Page 1')
                div
                    h3 Privacy Policy
                    p
                    strong Last updated April 11, 2018
                    p
                    | Milo Project (“we” or “us” or “our”) respects the privacy of our users (“user” or “you”). This Privacy Policy explains how we collect, use, disclose, and safeguard your information when you visit our website
                    a(href='https://miloblocks.com') https://miloblocks.com
                    |  including any other media form, media channel, mobile website, or mobile application related or connected thereto (collectively, the “Site”). Please read this Privacy Policy carefully.
                    h4 IF YOU DO NOT AGREE WITH THE TERMS OF THIS PRIVACY POLICY, PLEASE DO NOT ACCESS THE SITE.
                    p
                    | We reserve the right to make changes to this Privacy Policy at any time and for any reason. We will alert you about any changes by updating the “Revised” date of this Privacy Policy. Any changes or modifications will be effective immediately upon posting the updated Privacy Policy on the Site, and you waive the right to receive specific notice of each such change or modification. You are encouraged to periodically review this Privacy Policy to stay informed of updates. You will be deemed to have been made aware of, will be subject to, and will be deemed to have accepted the changes in any revised Privacy Policy by your continued use of the Site after the date such revised Privacy Policy is posted.
                    p
                    strong COLLECTION OF YOUR INFORMATION
                    p
                    | We may collect information about you in a variety of ways. The information we may collect on the Site includes:
                    br
                    b Personal Data
                    p
                    | Personally identifiable information, such as your name, shipping address, email address, and telephone number, and demographic information, such as your age, gender, hometown, and interests, that you voluntarily give to us when you register with the Site or when you choose to participate in various activities related to the Site, such as online chat and message boards. You are under no obligation to provide us with personal information of any kind, however your refusal to do so may prevent you from using certain features of the Site.
                    br
                    b Derivative Data
                    p
                    | Information our servers automatically collect when you access the Site, such as your IP address, your browser type, your operating system, your access times, and the pages you have viewed directly before and after accessing the Site.
                    br
                    b Data From Social Networks
                    p
                    | User information from sites, such as Google, including your name, your social network username, location, gender, birth date, email address, profile picture if you connect your account to such social networks.
                    br
                    b Data From Contests, Giveaways, and Surveys
                    p
                    | Personal and other information you may provide when entering contests or giveaways and/or responding to surveys.
                div

            div(title='Page 2')
                div
                    strong USE OF YOUR INFORMATION
                    p
                    | Having accurate information about you permits us to provide you with a smooth, efficient, and customized experience. Specifically, we may use information collected about you via the Site to:
                    p
                    | ● Create and manage your account.
                    br
                    | ● Email you regarding your account or order.
                    br
                    | ● Monitor and analyze usage and trends to improve your experience with the Site. ● Notify you of updates to the Site.
                    br
                    | ● Respond to product and customer service requests.
                    br
                    | ● Request feedback and contact you about your use of the Site.
                    br
                    | ● Send you a newsletter.
                    br
                    strong DISCLOSURE OF YOUR INFORMATION
                    p
                    | We may share information we have collected about you in certain situations. Your information may be disclosed as follows:
                    p By Law or to Protect Rights
                    p
                    | If we believe the release of information about you is necessary to respond to legal process, to investigate or remedy potential violations of our policies, or to protect the rights, property, and safety of others, we may share your information as permitted or required by any applicable law, rule, or regulation. This includes exchanging information with other entities for fraud protection and credit risk reduction.
                    p Interactions with Other Users
                    p
                    | If you interact with other users of the Site, those users may see your name, profile photo, and descriptions of your activity, including sending invitations to other users, liking posts, following users.
                    br
                    b Online Postings
                    p
                    | When you post comments, contributions or other content to the Site, your posts may be viewed by all users and may be publicly distributed outside the Site in perpetuity.
                    br
                    b Social Media Contacts
                    p
                    | If you connect to the Site through a social network, your contacts on the social network will see your name, profile photo, and descriptions of your activity.
                    br
                    b Other Third Parties
                    p
                    | We may share your information with advertisers and investors for the purpose of conducting general business analysis. We may also share your information with such third parties for marketing purposes, as permitted by law.
                    br
                    b Sale or Bankruptcy
                    p
                    | If we reorganize or sell all or a portion of our assets, undergo a merger, or are acquired by another entity, we may transfer your information to the successor entity. If we go out of business or enter bankruptcy, your information would be an asset transferred or acquired by a third party. You acknowledge that such transfers may occur and that the transferee may decline honor commitments we made in this Privacy Policy.
                div
                    br
                    | We are not responsible for the actions of third parties with whom you share personal or sensitive data, and we have no
                    | authority to manage or control third­party solicitations. If you no longer wish to receive correspondence, emails or other communications from third parties, you are responsible for contacting the third party directly.
                    br
                    b TRACKING TECHNOLOGIES Cookies and Web Beacons
                    p
                    | We may use cookies, web beacons, tracking pixels, and other tracking technologies on the Site to help customize the Site and improve your experience. For more information on how we use cookies, please refer to our Cookie Policy posted on the Site, which is incorporated into this Privacy Policy. By using the Site, you agree to be bound by our Cookie Policy.
                    p Website Analytics
                    p
                    | We may also partner with selected third­party vendors, such as Google Analytics, to allow tracking technologies and remarketing services on the Site through the use of first party cookies and third­party cookies, to, among other things, analyze and track users’ use of the Site, determine the popularity of certain content and better understand online activity. By accessing the Site, you consent to the collection and use of your information by these third­party vendors. You are encouraged to review their privacy policy and contact them directly for responses to your questions. We do not transfer personal information to these third­party vendors. However, If you do not want any information to be collected and used by tracking technologies, you can visit the third­party vendor or Network Advertising Initiative Opt­Out Tool or Digital Advertising Alliance Opt­Out Tool.
                    p
                    | You should be aware that getting a new computer, installing a new browser, upgrading an existing browser, or erasing or otherwise altering your browser’s cookies files may also clear certain opt­out cookies, plug­ins, or settings.
                    br
                    b THIRD­PARTY WEBSITES
                    p
                    | The Site may contain links to third­party websites and applications of interest, including advertisements and external services, that are not affiliated with us. Once you have used these links to leave the Site, any information you provide to these third parties is not covered by this Privacy Policy, and we cannot guarantee the safety and privacy of your information. Before visiting and providing any information to any third­party websites, you should inform yourself of the privacy policies and practices (if any) of the third party responsible for that website, and should take those steps necessary to, in your discretion, protect the privacy of your information. We are not responsible for the content or privacy and security practices and policies of any third parties, including other sites, services or applications that may be linked to or from the Site.
                    br
                    b SECURITY OF YOUR INFORMATION
                    p
                    | We use administrative, technical, and physical security measures to help protect your personal information. While we have taken reasonable steps to secure the personal information you provide to us, please be aware that despite our efforts, no security measures are perfect or impenetrable, and no method of data transmission can be guaranteed against any interception or other type of misuse. Any information disclosed online is vulnerable to interception and misuse by unauthorized parties. Therefore, we cannot guarantee complete security if you provide personal information.
                    br
                    b POLICY FOR CHILDREN
                    p
                    | We do not knowingly solicit information from or market to children under the age of 13. If you become aware of any data we have collected from children under age 13, please contact us using the contact information provided below.
                    b CONTROLS FOR DO­NOT­TRACK FEATURES
                    p
                    | Most web browsers and some mobile operating systems include a Do­Not­Track (“DNT”) feature or setting you can activate to signal your privacy preference not to have data about your online browsing activities monitored and collected. No uniform technology standard for recognizing and implementing DNT signals has been finalized. As such, we do not currently respond to DNT browser signals or any other mechanism that automatically communicates your choice not to be tracked online. If a standard for online tracking is adopted that we must follow in the future, we will inform you about that practice in a revised version of this Privacy Policy.
                    br
                    b OPTIONS REGARDING YOUR INFORMATION Account Information
                    p
                    | You may at any time review or change the information in your account or terminate your account by: ● Contacting us using the contact information provided.
                    br
                    | ● Logging into user account settings and updating the user account.
                    p
                    | Upon your request to terminate your account, we will deactivate or delete your account and information from our active databases. However, some information may be retained in our files to prevent fraud, troubleshoot problems, assist with any investigations, enforce our Terms of Use and/or comply with legal requirements.
                    br
                    b Emails and Communications
                    p
                    | If you no longer wish to receive correspondence, emails, or other communications from us, you may opt­out by:
                    p
                    | ● Clicking on unsubscribe in the email received. 
                    br
                    | ● Contacting us using the contact information provided.
                    p
                    | If you no longer wish to receive correspondence, emails, or other communications from third parties, you are responsible for contacting the third party directly.
                    br
                    b CALIFORNIA PRIVACY RIGHTS
                    p
                    | California Civil Code Section 1798.83, also known as the “Shine The Light” law, permits our users who are California residents to request and obtain from us, once a year and free of charge, information about categories of personal information (if any) we disclosed to third parties for direct marketing purposes and the names and addresses of all third parties with which we shared personal information in the immediately preceding calendar year. If you are a California resident and would like to make such a request, please submit your request in writing to us using the contact information provided below.
                    p
                    | If you are under 18 years of age, reside in California, and have a registered account with the Site, you have the right to request removal of unwanted data that you publicly post on the Site. To request removal of such data, please contact us using the contact information provided below, and include the email address associated with your account and a statement that you reside in California. We will make sure the data is not publicly displayed on the Site, but please be aware that the data may not be completely or comprehensively removed from our systems.
                    br
                    b CONTACT US
                    br
                    | If you have questions or comments about this Privacy Policy, please contact us at: milo@msrit.net
                    br
                    br
                    br
                    br