extends layout.pug
block content
  .container
    .row
      .col-sm-6.col-sm-offset-3
        .card.card-container
          img#logo-img.logo-img-card(src='/media/milo-icon.png')
          h3.text-center Create your Milo Account
          form.form-horizontal(method='post', action='/users/register')
            .form-group
              input.form-control(type='text', placeholder='Name', name='name',size=6)
            .form-group
              input.form-control(type='text', placeholder='Username', name='username',size=6)
            .form-group
              input.form-control(type='email', placeholder='Email', name='email',size=6)
            .form-group
              input.form-control(type='password', placeholder='Password', name='password',size=6)
            .form-group
              input.form-control(type='password', placeholder='Confirm Password', name='password2',size=6)
            .form-group
              h5 Account Type
              label.radio-inline
                input(type='radio', checked="checked", value="student", name='optrole')
                | Student
              label.radio-inline
                input(type='radio', value="faculty", name='optrole')
                | Faculty
            button.btn.btn-lg.btn-success.btn-block.btn-signin(type='submit') Sign up!
          br
          p.text-center or &nbsp
            a(href="/users/login") Login with an Existing account
