extends layout.pug
block headers
    link(rel="stylesheet", href="/css/home.css")
block navigation
    ul.nav.navbar-nav
        li
            a(href="/")
                span Milo
        li
            a(href='/about') About
    ul.nav.navbar-nav.navbar-right
        if user
            li
                a(href='/users/projects' style="cursor:pointer; color: #3F51B5;")
                    i.material-icons dashboard
                    | &nbsp; My Projects
        li
            a(href='/editor/?new') Create
        if !user
            li
                a(href='/users/register')
                    | &nbsp; Sign Up
            li
                a(href='/users/login')
                    i.material-icons account_box
                    | &nbsp; Login
        else
            li.btn-group
                li.dropdown
                    a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                        i.material-icons account_circle
                        span.caret
                    ul.dropdown-menu
                        li
                            h4 &nbsp; Hi #{user.name}
                        if (user.role == 'faculty')
                            li
                                a(href='')
                                    i.material-icons verified_user
                                    | &nbsp; Faculty Account
                        li
                            a(href='/users/logout')
                                i.material-icons input
                                | &nbsp; Logout
block content
    .container
      .row
        .col-md-8
            h3 TERMS OF USE
            b Last updated April 11, 2018
            div  
            div
            strong AGREEMENT TO TERMS
            div  
            div
            | These Terms of Use constitute a legally binding agreement made between you, whether personally or on behalf of an entity
            div
            | (“you”) and Milo Project (“we,” “us” or “our”), concerning your access to and use of the 
            a(href='https://milo.msrit.net/') https://milo.msrit.net
            |  website as well
            div
            | as any other media form, media channel, mobile website or mobile application related, linked, or otherwise connected
            div
            | thereto (collectively, the “Site”). You agree that by accessing the Site, you have read, understood, and agreed to be bound
            div by all of these Terms of Use.
            div  
            h4 IF YOU DO NOT AGREE WITH ALL OF THESE TERMS OF USE, THEN YOU ARE
            h4
            | EXPRESSLY PROHIBITED FROM USING THE SITE AND YOU MUST DISCONTINUE USE IMMEDIATELY.
            div  
            div
            | Supplemental terms and conditions or documents that may be posted on the Site from time to time are hereby expressly
            div
            | incorporated herein by reference. We reserve the right, in our sole discretion, to make changes or modifications to these
            div
            | Terms of Use at any time and for any reason. We will alert you about any changes by updating the “Last updated” date of
            div
            | these Terms of Use, and you waive any right to receive specific notice of each such change. It is your responsibility to
            div
            | periodically review these Terms of Use to stay informed of updates. You will be subject to, and will be deemed to have been
            div
            | made aware of and to have accepted, the changes in any revised Terms of Use by your continued use of the Site after the
            div date such revised Terms of Use are posted.
            div
            | The information provided on the Site is not intended for distribution to or use by any person or entity in any jurisdiction or
            div
            | country where such distribution or use would be contrary to law or regulation or which would subject us to any registration
            div
            | requirement within such jurisdiction or country. Accordingly, those persons who choose to access the Site from other
            div
            | locations do so on their own initiative and are solely responsible for compliance with local laws, if and to the extent local
            div laws are applicable.
            div
            | The Site is intended for users who are at least 13 years of age. All users who are minors in the jurisdiction in which they
            div
            | reside (generally under the age of 18) must have the permission of, and be directly supervised by, their parent or guardian
            div
            | to use the Site. If you are a minor, you must have your parent or guardian read and agree to these Terms of Use prior to
            div you using the Site.
            div  
            div
            strong INTELLECTUAL PROPERTY RIGHTS
            div  
            div
            | The Content and the Marks are provided on the Site “AS IS” for your information and personal use only.
            div  
            div
            strong USER REPRESENTATIONS
            div
            div  
            div
                | By using the Site, you represent and warrant that: (1) all registration information you submit will be true, accurate, current,
            div
                | and complete; (2) you will maintain the accuracy of such information and promptly update such registration information as
            div
                | necessary; (3) you have the legal capacity and you agree to comply with these Terms of Use;
            div (4) you are not under the
            div
                | age of 13; (5) you are not a minor in the jurisdiction in which you reside, or if a minor, you have received parental
            div
                | permission to use the Site; (6) you will not access the Site through automated or non­human means, whether through a
            div
                | bot, script, or otherwise; (7) you will not use the Site for any illegal or unauthorized purpose; and (8) your use of the Site will
            div not violate any applicable law or regulation.
            div
                | If you provide any information that is untrue, inaccurate, not current, or incomplete, we have the right to suspend or
            div
                | terminate your account and refuse any and all current or future use of the Site (or any portion thereof).
            div  
            div
                strong USER REGISTRATION
            div
                | You may be required to register with the Site. You agree to keep your password confidential and will be responsible for all
            div
                | use of your account and password. We reserve the right to remove, reclaim, or change a username you select if we
            div
                | determine, in our sole discretion, that such username is inappropriate, obscene, or otherwise objectionable.
            div  
            div
                strong PROHIBITED ACTIVITIES
            div  
            div
                | You may not access or use the Site for any purpose other than that for which we make the Site available. The Site may not
            div
                | be used in connection with any commercial endeavors except those that are specifically endorsed or approved by us.
            div As a user of the Site, you agree not to:
            div
                | 1. Systematically retrieve data or other content from the Site to create or compile, directly or indirectly, a collection,
            div compilation, database, or directory without written permission from us.
            div
                | 2. Make any unauthorized use of the Site, including collecting usernames and/or email addresses of users by electronic
            div
                | or other means for the purpose of sending unsolicited email, or creating user accounts by automated means or under
            div false pretenses.
            div 3. Use the Site to advertise or offer to sell goods and services.
            div
                | 4. Circumvent, disable, or otherwise interfere with security­related features of the Site, including features that prevent or
            div
                | restrict the use or copying of any Content or enforce limitations on the use of the Site and/or the Content contained
            div therein.
            div 5. Engage in unauthorized framing of or linking to the Site.
            div
                | 6. Trick, defraud, or mislead us and other users, especially in any attempt to learn sensitive account information such as
            div user passwords.
            div
                | 7. Make improper use of our support services or submit false reports of abuse or misconduct.
            div
                | 8. Engage in any automated use of the system, such as using scripts to send comments or messages, or using any data
            div mining, robots, or similar data gathering and extraction tools.
            div
                | 9. Interfere with, disrupt, or create an undue burden on the Site or the networks or services connected to the Site.
            div
                | 10. Attempt to impersonate another user or person or use the username of another user.
            div 11. Sell or otherwise transfer your profile.
            div
                | 12. Use any information obtained from the Site in order to harass, abuse, or harm another person.
            div
                | 13. Use the Site as part of any effort to compete with us or otherwise use the Site and/or the Content for any revenue­
            div generating endeavor or commercial enterprise.
            div
                | 14. Attempt to bypass any measures of the Site designed to prevent or restrict access to the Site, or any portion of the
            div Site.
            div
                | 15. Harass, annoy, intimidate, or threaten any of our employees or agents engaged in providing any portion of the Site
            div to you.
            div 16. Delete the copyright or other proprietary rights notice from any Content.
            div
                | 17. Upload or transmit (or attempt to upload or to transmit) viruses, Trojan horses, or other material, including excessive
            div
                | use of capital letters and spamming (continuous posting of repetitive text), that interferes with any party’s uninterrupted
            div
                | use and enjoyment of the Site or modifies, impairs, disrupts, alters, or interferes with the use, features, functions,
            div operation, or maintenance of the Site.
            div
                | 18. Upload or transmit (or attempt to upload or to transmit) any material that acts as a passive or active information
            div
                | collection or transmission mechanism, including without limitation, clear graphics interchange formats (“gifs”), 1×1 pixels, web bugs, cookies, or other similar devices
            div
            div
                | (sometimes referred to as “spyware” or “passive collection mechanisms” or “pcms”).
            div 19. Disparage, tarnish, or otherwise harm, in our opinion, us and/or the Site.
            div
                | 20. Use the Site in a manner inconsistent with any applicable laws or regulations.
            div  
            div
                strong USER GENERATED CONTRIBUTIONS
            div  
            div
                | The Site may invite you to chat, contribute to, or participate in blogs, message boards, online forums, and other
            div
                | functionality, and may provide you with the opportunity to create, submit, post, display, transmit, perform, publish, distribute,
            div
                | or broadcast content and materials to us or on the Site, including but not limited to text, writings, video, audio, photographs,
            div
                | graphics, comments, suggestions, or personal information or other material (collectively, "Contributions"). Contributions
            div
                | may be viewable by other users of the Site and through third­party websites. As such, any Contributions you transmit may
            div
                | be treated as non­confidential and non­proprietary. When you create or make available any Contributions, you thereby
            div represent and warrant that:
            div  
            div
                | 1. The creation, distribution, transmission, public display, or performance, and the accessing, downloading, or
            div
                | copying of your Contributions do not and will not infringe the proprietary rights, including but not limited to the
            div copyright, patent, trademark, trade secret, or moral rights of any third party.
            div
                | 2. You are the creator and owner of or have the necessary licenses, rights, consents, releases, and permissions
            div
                | to use and to authorize us, the Site, and other users of the Site to use your Contributions in any manner
            div contemplated by the Site and these Terms of Use.
            div
                | 3. You have the written consent, release, and/or permission of each and every identifiable individual person in your
            div
                | Contributions to use the name or likeness of each and every such identifiable individual person to enable
            div
                | inclusion and use of your Contributions in any manner contemplated by the Site and these Terms of Use.
            div 4. Your Contributions are not false, inaccurate, or misleading.
            div
                | 5. Your Contributions are not unsolicited or unauthorized advertising, promotional materials, pyramid schemes,
            div chain letters, spam, mass mailings, or other forms of solicitation.
            div
                | 6. Your Contributions are not obscene, lewd, lascivious, filthy, violent, harassing, libelous, slanderous, or
            div otherwise objectionable (as determined by us).
            div
                | 7. Your Contributions do not ridicule, mock, disparage, intimidate, or abuse anyone.
            div
                | 8. Your Contributions do not advocate the violent overthrow of any government or incite, encourage, or threaten
            div physical harm against another.
            div 9. Your Contributions do not violate any applicable law, regulation, or rule.
            div
                | 10. Your Contributions do not violate the privacy or publicity rights of any third party.
            div
                | 11. Your Contributions do not contain any material that solicits personal information from anyone under the age of
            div 18 or exploits people under the age of 18 in a sexual or violent manner.
            div
                | 12. Your Contributions do not violate any federal or state law concerning child pornography, or otherwise intended to
            div protect the health or well­being of minors;
            div 13.
            div
                | Your Contributions do not include any offensive comments that are connected to race, national origin, gender,
            div sexual preference, or physical handicap.
            div
                | 14. Your Contributions do not otherwise violate, or link to material that violates, any provision of these Terms of Use,
            div or any applicable law or regulation.
            div
                | Any use of the Site in violation of the foregoing violates these Terms of Use and may result in, among other things,
            div termination or suspension of your rights to use the Site.
            div  
            div
                strong CONTRIBUTION LICENSE
            div  
            div
                | By posting your Contributions to any part of the Site, you automatically grant, and you represent and warrant that you have
            div
                | the right to grant, to us an unrestricted, unlimited, irrevocable, perpetual, non­exclusive, transferable, royalty­free, fully­paid,
            div
                | worldwide right, and license to host, use, copy, reproduce, disclose, sell, resell, publish, broadcast, retitle, archive, store,
            div
                | cache, publicly perform, publicly display, reformat, translate, transmit, excerpt (in whole or in part), and distribute such
            div
                | Contributions (including, without limitation, your image and voice) for any purpose, commercial, advertising, or otherwise,
            div
                | and to prepare derivative works of, or incorporate into other works, such Contributions, and grant and authorize
            div
                | sublicenses of the foregoing. The use and distribution may occur in any media formats and through any media channels.
            div
            div  
            div
                | This license will apply to any form, media, or technology now known or hereafter developed, and includes our use of your
            div
                | name, company name, and franchise name, as applicable, and any of the trademarks, service marks, trade names, logos,
            div
                | and personal and commercial images you provide. You waive all moral rights in your Contributions, and you warrant that
            div moral rights have not otherwise been asserted in your Contributions.
            div
                | We do not assert any ownership over your Contributions. You retain full ownership of all of your Contributions and any
            div
                | intellectual property rights or other proprietary rights associated with your Contributions. We are not liable for any
            div
                | statements or representations in your Contributions provided by you in any area on the Site. You are solely responsible for
            div
                | your Contributions to the Site and you expressly agree to exonerate us from any and all responsibility and to refrain from
            div any legal action against us regarding your Contributions.
            div  
            div
                | We have the right, in our sole and absolute discretion, (1) to edit, redact, or otherwise change any Contributions; (2) to re­
            div
                | categorize any Contributions to place them in more appropriate locations on the Site; and (3) to pre­screen or delete any
            div
                | Contributions at any time and for any reason, without notice. We have no obligation to monitor your Contributions.
            div  
            div
                strong SUBMISSIONS
            div  
            div
                | You acknowledge and agree that any questions, comments, suggestions, ideas, feedback, or other information regarding
            div
                | the Site ("Submissions") provided by you to us are non­confidential and shall become our sole property. We shall own
            div
                | exclusive rights, including all intellectual property rights, and shall be entitled to the unrestricted use and dissemination of
            div
                | these Submissions for any lawful purpose, commercial or otherwise, without acknowledgment or compensation to you. You
            div
                | hereby waive all moral rights to any such Submissions, and you hereby warrant that any such Submissions are original with
            div
                | you or that you have the right to submit such Submissions. You agree there shall be no recourse against us for any alleged
            div
                | or actual infringement or misappropriation of any proprietary right in your Submissions.
            div  
            div
                strong THIRD­PARTY WEBSITES AND CONTENT
            div  
            div
                | The Site may contain (or you may be sent via the Site) links to other websites ("Third­Party Websites") as well as articles,
            div
                | photographs, text, graphics, pictures, designs, music, sound, video, information, applications, software, and other content
            div
                | or items belonging to or originating from third parties ("Third­Party Content"). Such Third­Party Websites and Third­Party
            div
                | Content are not investigated, monitored, or checked for accuracy, appropriateness, or completeness by us, and we are not
            div
                | responsible for any Third­Party Websites accessed through the Site or any Third­Party Content posted on, available
            div
                | through, or installed from the Site, including the content, accuracy, offensiveness, opinions, reliability, privacy practices, or
            div
                | other policies of or contained in the Third­Party Websites or the Third­Party Content. Inclusion of, linking to, or permitting
            div
                | the use or installation of any Third­Party Websites or any Third­Party Content does not imply approval or endorsement
            div
                | thereof by us. If you decide to leave the Site and access the Third­Party Websites or to use or install any Third­Party
            div
                | Content, you do so at your own risk, and you should be aware these Terms of Use no longer govern. You should review the
            div
                | applicable terms and policies, including privacy and data gathering practices, of any website to which you navigate from the
            div
                | Site or relating to any applications you use or install from the Site. Any purchases you make through Third­Party Websites
            div
                | will be through other websites and from other companies, and we take no responsibility whatsoever in relation to such
            div
                | purchases which are exclusively between you and the applicable third party. You agree and acknowledge that we do not
            div
                | endorse the products or services offered on Third­Party Websites and you shall hold us harmless from any harm caused by
            div
                | your purchase of such products or services. Additionally, you shall hold us harmless from any losses sustained by you or
            div
                | harm caused to you relating to or resulting in any way from any Third­Party Content or any contact with Third­Party
            div Websites.
            div  
            div
                strong SITE MANAGEMENT
            div  
            div
                | We reserve the right, but not the obligation, to: (1) monitor the Site for violations of these Terms of Use; (2) take appropriate
            div
                | legal action against anyone who, in our sole discretion, violates the law or these Terms of Use, including without limitation,
            div
                | reporting such user to law enforcement authorities; (3) in our sole discretion and without limitation, refuse, restrict access
            div
                | to, limit the availability of, or disable (to the extent technologically feasible) any of your Contributions or any portion thereof;
            div
                | (4) in our sole discretion and without limitation, notice, or liability, to remove from the Site or otherwise disable all files and
            div
                | content that are excessive in size or are in any way burdensome to our systems; and (5) otherwise manage the Site in a
            div
                | manner designed to protect our rights and property and to facilitate the proper functioning of the Site.
            div
            div  
            div
                strong PRIVACY POLICY
            div  
            div
                | We care about data privacy and security. Please review our Privacy Policy &nbsp; 
                a(href="milo.msrit.net/privacy") here
                |. &nbsp; By using the Site, you
            div
                | agree to be bound by our Privacy Policy, which is incorporated into these Terms of Use. Please be advised the Site is
            div
                | hosted in the United States. If you access the Site from the European Union, Asia, or any other region of the world with
            div
                | laws or other requirements governing personal data collection, use, or disclosure that differ from applicable laws in the
            div
                | United States, then through your continued use of the Site, you are transferring your data to the United States, and you
            div
                | expressly consent to have your data transferred to and processed in the United States. Further, we do not knowingly
            div
                | accept, request, or solicit information from children or knowingly market to children. Therefore, in accordance with the U.S.
            div
                | Children’s Online Privacy Protection Act, if we receive actual knowledge that anyone under the age of 13 has provided
            div
                | personal information to us without the requisite and verifiable parental consent, we will delete that information from the Site
            div as quickly as is reasonably practical.
            div
                br
                strong TERM AND TERMINATION
            div  
            div
                | These Terms of Use shall remain in full force and effect while you use the Site. WITHOUT LIMITING ANY OTHER
            div
                | PROVISION OF THESE TERMS OF USE, WE RESERVE THE RIGHT TO, IN OUR SOLE DISCRETION AND WITHOUT
            div
                | NOTICE OR LIABILITY, DENY ACCESS TO AND USE OF THE SITE (INCLUDING BLOCKING CERTAIN IP
            div
                | ADDRESSES), TO ANY PERSON FOR ANY REASON OR FOR NO REASON, INCLUDING WITHOUT LIMITATION FOR
            div
                | BREACH OF ANY REPRESENTATION, WARRANTY, OR COVENANT CONTAINED IN THESE TERMS OF USE OR OF
            div
                | ANY APPLICABLE LAW OR REGULATION. WE MAY TERMINATE YOUR USE OR PARTICIPATION IN THE SITE OR
            div
                | DELETE YOUR ACCOUNT AND ANY CONTENT OR INFORMATION THAT YOU POSTED AT ANY TIME, WITHOUT
            div WARNING, IN OUR SOLE DISCRETION.
            div  
            div
                | If we terminate or suspend your account for any reason, you are prohibited from registering and creating a new account
            div
                | under your name, a fake or borrowed name, or the name of any third party, even if you may be acting on behalf of the third
            div
                | party. In addition to terminating or suspending your account, we reserve the right to take appropriate legal action, including
            div without limitation pursuing civil, criminal, and injunctive redress.
            div  
            div
                strong MODIFICATIONS AND INTERRUPTIONS
            div  
            div
                | We reserve the right to change, modify, or remove the contents of the Site at any time or for any reason at our sole
            div
                | discretion without notice. However, we have no obligation to update any information on our Site. We also reserve the right
            div
                | to modify or discontinue all or part of the Site without notice at any time. We will not be liable to you or any third party for
            div any modification, price change, suspension, or discontinuance of the Site.
            div
                | We cannot guarantee the Site will be available at all times. We may experience hardware, software, or other problems or
            div
                | need to perform maintenance related to the Site, resulting in interruptions, delays, or errors. We reserve the right to
            div
                | change, revise, update, suspend, discontinue, or otherwise modify the Site at any time or for any reason without notice to
            div
                | you. You agree that we have no liability whatsoever for any loss, damage, or inconvenience caused by your inability to
            div
                | access or use the Site during any downtime or discontinuance of the Site. Nothing in these Terms of Use will be construed
            div
                | to obligate us to maintain and support the Site or to supply any corrections, updates, or releases in connection therewith.
            div  
            div
                strong GOVERNING LAW
            div  
            div
                | These Terms of Use and your use of the Site are governed by and construed in accordance with the laws of the country,
            div
                | Republic of India applicable to agreements made and to be entirely performed within the the State of Karnataka, without
            div regard to its conflict of law principles.
            div  
            div
                strong DISPUTE RESOLUTION
            div  
            div
                strong Informal Negotiations
            div  
            div
                | To expedite resolution and control the cost of any dispute, controversy, or claim related to these Terms of Use (each a
            div
                | "Dispute" and collectively, the “Disputes”) brought by either you or us (individually, a “Party” and collectively, the “Parties”),
            div
                | the Parties agree to first attempt to negotiate any Dispute (except those Disputes expressly provided below) informally for
            div
            div
                | at least thirty (30) days before initiating arbitration. Such informal negotiations commence upon written notice from one
            div Party to the other Party.
            div  
            div
                strong CORRECTIONS
            div  
            div
                | There may be information on the Site that contains typographical errors, inaccuracies, or omissions, including descriptions,
            div
                | pricing, availability, and various other information. We reserve the right to correct any errors, inaccuracies, or omissions and
            div
                | to change or update the information on the Site at any time, without prior notice.
            div  
            div
                strong DISCLAIMER
            div  
            div
                | THE SITE IS PROVIDED ON AN AS­IS AND AS­AVAILABLE BASIS. YOU AGREE THAT YOUR USE OF THE SITE AND
            div
                | OUR SERVICES WILL BE AT YOUR SOLE RISK. TO THE FULLEST EXTENT PERMITTED BY LAW, WE DISCLAIM ALL
            div
            div  
            div
                | WARRANTIES, EXPRESS OR IMPLIED, IN CONNECTION WITH THE SITE AND YOUR USE THEREOF, INCLUDING,
            div
                | WITHOUT LIMITATION, THE IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR
            div
                | PURPOSE, AND NON­INFRINGEMENT. WE MAKE NO WARRANTIES OR REPRESENTATIONS ABOUT THE
            div
                | ACCURACY OR COMPLETENESS OF THE SITE’S CONTENT OR THE CONTENT OF ANY WEBSITES LINKED TO
            div
                | THE SITE AND WE WILL ASSUME NO LIABILITY OR RESPONSIBILITY FOR ANY (1) ERRORS, MISTAKES, OR
            div
                | INACCURACIES OF CONTENT AND MATERIALS, (2) PERSONAL INJURY OR PROPERTY DAMAGE, OF ANY
            div
                | NATURE WHATSOEVER, RESULTING FROM YOUR ACCESS TO AND USE OF THE SITE, (3) ANY UNAUTHORIZED
            div
                | ACCESS TO OR USE OF OUR SECURE SERVERS AND/OR ANY AND ALL PERSONAL INFORMATION AND/OR
            div
                | FINANCIAL INFORMATION STORED THEREIN, (4) ANY INTERRUPTION OR CESSATION OF TRANSMISSION TO OR
            div
                | FROM THE SITE, (5) ANY BUGS, VIRUSES, TROJAN HORSES, OR THE LIKE WHICH MAY BE TRANSMITTED TO OR
            div
                | THROUGH THE SITE BY ANY THIRD PARTY, AND/OR (6) ANY ERRORS OR OMISSIONS IN ANY CONTENT AND
            div
                | MATERIALS OR FOR ANY LOSS OR DAMAGE OF ANY KIND INCURRED AS A RESULT OF THE USE OF ANY
            div
                | CONTENT POSTED, TRANSMITTED, OR OTHERWISE MADE AVAILABLE VIA THE SITE. WE DO NOT WARRANT,
            div
                | ENDORSE, GUARANTEE, OR ASSUME RESPONSIBILITY FOR ANY PRODUCT OR SERVICE ADVERTISED OR
            div
                | OFFERED BY A THIRD PARTY THROUGH THE SITE, ANY HYPERLINKED WEBSITE, OR ANY WEBSITE OR MOBILE
            div
                | APPLICATION FEATURED IN ANY BANNER OR OTHER ADVERTISING, AND WE WILL NOT BE A PARTY TO OR IN
            div
                | ANY WAY BE RESPONSIBLE FOR MONITORING ANY TRANSACTION BETWEEN YOU AND ANY THIRD­PARTY
            div
                | PROVIDERS OF PRODUCTS OR SERVICES. AS WITH THE PURCHASE OF A PRODUCT OR SERVICE THROUGH
            div
                | ANY MEDIUM OR IN ANY ENVIRONMENT, YOU SHOULD USE YOUR BEST JUDGMENT AND EXERCISE CAUTION
            div WHERE APPROPRIATE.
            div  
            div
                | This site is not affiliated with msrit.edu, Ramaiah Institute of Technology or any of their family of sites.
            div The data used to produce this page is covered under an Apache 2.0  license.
            div  
            div
                | Neither are we (developers of Milo), nor Ramaiah Institute of Technology or any of it's affiliates,
            div
                | responsible or accountable to any damages or loss of any kind incurred as a result of the use of any content posted, transmitted or otherwise made
            div available on this site. 
            div  
            div
                strong LIMITATIONS OF LIABILITY
            div  
            div
                | IN NO EVENT WILL WE OR OUR DIRECTORS, EMPLOYEES, OR AGENTS BE LIABLE TO YOU OR ANY THIRD
            div
                | PARTY FOR ANY DIRECT, INDIRECT, CONSEQUENTIAL, EXEMPLARY, INCIDENTAL, SPECIAL, OR PUNITIVE
            div
                | DAMAGES, INCLUDING LOST PROFIT, LOST REVENUE, LOSS OF DATA, OR OTHER DAMAGES ARISING FROM
            div
                | YOUR USE OF THE SITE, EVEN IF WE HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.
            div
                | NOTWITHSTANDING ANYTHING TO THE CONTRARY CONTAINED HEREIN, OUR LIABILITY TO YOU FOR ANY
            div
                | CAUSE WHATSOEVER AND REGARDLESS OF THE FORM OF THE ACTION, WILL AT ALL TIMES BE LIMITED TO
            div
                | $0.00 USD. CERTAIN STATE LAWS DO NOT ALLOW LIMITATIONS ON IMPLIED WARRANTIES OR THE EXCLUSION
            div
                | OR LIMITATION OF CERTAIN DAMAGES. IF THESE LAWS APPLY TO YOU, SOME OR ALL OF THE ABOVE
            div
                | DISCLAIMERS OR LIMITATIONS MAY NOT APPLY TO YOU, AND YOU MAY HAVE ADDITIONAL RIGHTS.
            div  
            div
                strong INDEMNIFICATION
            div  
            div
                | You agree to defend, indemnify, and hold us harmless, including our subsidiaries, affiliates, and all of our respective
            div
                | officers, agents, partners, and employees, from and against any loss, damage, liability, claim, or demand, including
            div
                | reasonable attorneys’ fees and expenses, made by any third party due to or arising out of: (1) your Contributions; (2) use of
            div
                | the Site; (3) breach of these Terms of Use; (4) any breach of your representations and warranties set forth in these Terms
            div
                | of Use; ( 5) your violation of the rights of a third party, including but not limited to intellectual property rights; or (6) any overt
            div
                | harmful act toward any other user of the Site with whom you connected via the Site. Notwithstanding the foregoing, we
            div
                | reserve the right, at your expense, to assume the exclusive defense and control of any matter for which you are required to
            div
                | indemnify us, and you agree to cooperate, at your expense, with our defense of such claims. We will use reasonable efforts
            div
                | to notify you of any such claim, action, or proceeding which is subject to this indemnification upon becoming aware of it.
            div  
            div
                strong USER DATA
            div  
            div
                | We will maintain certain data that you transmit to the Site for the purpose of managing the performance of the Site, as well
            div
                | as data relating to your use of the Site. Although we perform regular routine backups of data, you are solely responsible for
            div
                | all data that you transmit or that relates to any activity you have undertaken using the Site. You agree that we shall have no
            div
                | liability to you for any loss or corruption of any such data, and you hereby waive any right of action against us arising from
            div any such loss or corruption of such data.
            div  
            div
                strong ELECTRONIC COMMUNICATIONS, TRANSACTIONS, AND SIGNATURES
            div
            div  
            div
                | Visiting the Site, sending us emails, and completing online forms constitute electronic communications. You consent to
            div
                | receive electronic communications, and you agree that all agreements, notices, disclosures, and other communications we
            div
                | provide to you electronically, via email and on the Site, satisfy any legal requirement that such communication be in writing.
            div
                | YOU HEREBY AGREE TO THE USE OF ELECTRONIC SIGNATURES, CONTRACTS, ORDERS, AND OTHER
            div
                | RECORDS, AND TO ELECTRONIC DELIVERY OF NOTICES, POLICIES, AND RECORDS OF TRANSACTIONS
            div
                | INITIATED OR COMPLETED BY US OR VIA THE SITE. You hereby waive any rights or requirements under any statutes,
            div
                | regulations, rules, ordinances, or other laws in any jurisdiction which require an original signature or delivery or retention of
            div
                | non­electronic records, or to payments or the granting of credits by any means other than electronic means.
            div  
            b MISCELLANEOUS
            div  
            div
                | These Terms of Use and any policies or operating rules posted by us on the Site or in respect to the Site constitute the
            div
                | entire agreement and understanding between you and us. Our failure to exercise or enforce any right or provision of these
            div
                | Terms of Use shall not operate as a waiver of such right or provision. These Terms of Use operate to the fullest extent
            div
                | permissible by law. We may assign any or all of our rights and obligations to others at any time. We shall not be responsible
            div
                | or liable for any loss, damage, delay, or failure to act caused by any cause beyond our reasonable control. If any provision
            div
                | or part of a provision of these Terms of Use is determined to be unlawful, void, or unenforceable, that provision or part of
            div
                | the provision is deemed severable from these Terms of Use and does not affect the validity and enforceability of any
            div
                | remaining provisions. There is no joint venture, partnership, employment or agency relationship created between you and
            div
                | us as a result of these Terms of Use or use of the Site. You agree that these Terms of Use will not be construed against us
            div
                | by virtue of having drafted them. You hereby waive any and all defenses you may have based on the electronic form of
            div
                | these Terms of Use and the lack of signing by the parties hereto to execute these Terms of Use.
            br
            b CONTACT US
            br
            | If you have questions or comments about this Privacy Policy, please contact us at: milo@msrit.net
            br
            br
            br
            br

